.divMessageContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 80px;
    background-color: #0075FF;
    border: 2px solid #303030;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 #333333;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding: 5px;
}

.divImageMessageSize {
    width: 70px;
    height: 70px;
    border: 2px solid #303030;
    border-radius: 35px;
    overflow: hidden;
}

.imageMessageSize {
    width: 70px;
    height: 70px;
}

.divMessageInfo {
    width: 55%;
}

.divMessageUserName {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}

.divMessageText {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
}
