.title {
    text-align: center;
    font-weight: bold;
}

.wrapper {
    background-color: #95c2de;
}

.mainBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #95c2de;
    height: 85vh;
    width: 600px;
    margin: auto;
}

.err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.size {
    height: 600px;
}